# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Flask
instance/
*.pyc
*.log

# Logs
*.log
log/
logs/

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
lib/
lib64/
bin/
include/